<header class="navbar">
    <div class="logo">
        <a href="index.html">
            <img alt="Parwah Logo" src="img/logo.svg" />
        </a>
    </div>
    <nav id="nav-menu">
        <a href="school.html">For schools</a>
        <a href="booksession.html">Book a session</a>
        <a href="login.html">
            <button class="login-btn">Login</button>
        </a>
    </nav>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
